<!DOCTYPE html>
<head>
	<title></title>
    <script type="text/javascript">
		function validate_for(){
			var name = document.getElementById('name').value;
			var age = document.getElementById('age').value;
			var salary = document.getElementById('salary').value;
			var empid = document.getElementById('empid').value;
			if(name == ""){
				alert("Name is required");
				return false;
			}
			if(age == ""){
				alert("Age is required");
				return false;
			}
			if(salary == ""){
				alert("Salary is required");
				return false;
			}
			if(empid == ""){
				alert("EmpID is required");
				return false;
			}
			return true;
		}
    </script>
</head>
<body>
	<h2> EMPLOYEE INFO FORM </h2>
		<form action="http://localhost:5000/result" method="POST" onsubmit="return validate_for()">
			<p> Name <input type="text" id="name" name="name"/> </p>
			<p> Age <input type="text" id="age" name="age"/> </p>
			<p> Salary <input type="text" id="salary" name="salary"/> </p>
			<p> EmpID <input type="text" id="empid" name="empid"/> </p>
			<p> DOB <input type="date" id="dob" name="DOB"/> </p>
			<p> <input type="submit" value="submit" /> </p>
		</form>
</body>
</html>