.desktop-1
{
position:absolute;
background-color:#ffffff;
height:4455px;
width:1440px;
padding:0px;
}
.frame77
{
background-color:#000000;
height:368px;
width:422px;
border-radius:20px;
padding:45px;
display:flex;
flex-direction:column;
gap:62px;
left:40px;
top:1451px;
position:relative;
}
.frame37
{
background-color:#f4f4f4;
height:368px;
width:422px;
border-radius:20px;
padding:45px;
display:flex;
flex-direction:column;
gap:62px;
left:40px;
top:1920px;
position:relative;
}
.frame38
{
height:136px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:17px;
left:45px;
top:45px;
position:relative;
}
.frame75
{
background-color:#000000;
height:368px;
width:422px;
border-radius:20px;
padding:45px;
display:flex;
flex-direction:column;
gap:62px;
left:509px;
top:1920px;
position:relative;
}
.frame382
{
height:136px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:17px;
left:45px;
top:45px;
position:relative;
}
.frame76
{
background-color:#f4f4f4;
height:368px;
width:422px;
border-radius:20px;
padding:45px;
display:flex;
flex-direction:column;
gap:62px;
left:987px;
top:1920px;
position:relative;
}
.frame383
{
height:136px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:17px;
left:45px;
top:45px;
position:relative;
}
.rectangle1
{
background-color:#0c0c0c;
height:1041px;
width:1445px;
position:absolute;
top:-3px;
left:-5px;
}
.rectangle40
{
height:1038px;
width:1444px;
position:absolute;
top:0px;
left:-4px;
}
.navigation
{
height:36px;
width:301px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:30px;
position:absolute;
border-style:hidden;
outline:none;
left:594px;
top:22px;
}
.frame1
{
height:36px;
width:65px;
padding:5px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:relative;
}
.home
{
color:#fafafa;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
align-self:flex-start;
left:5px;
top:5px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:55px;
display:flex;
}
.frame2
{
height:36px;
width:67px;
align-self:flex-start;
left:95px;
top:0px;
position:absolute;
padding:5px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
}
.about
{
color:#fafafa;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
align-self:flex-start;
left:5px;
top:5px;
position:absolute;
width:57px;
height:26px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.frame35
{
height:36px;
width:114px;
align-self:flex-start;
left:192px;
top:0px;
position:absolute;
padding:5px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
}
.contactus
{
color:#fafafa;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
align-self:flex-start;
left:5px;
top:5px;
position:absolute;
width:104px;
height:26px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.button
{
background-color:#fafafa;
height:47px;
width:71px;
border-radius:23px;
padding-left:15px;
padding-right:15px;
padding-top:8px;
padding-bottom:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
border-style:hidden;
outline:none;
top:24px;
left:1282px;
}
.getintouch
{
color:rgba(12, 12, 12, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
align-self:flex-start;
left:6.5px;
top:12px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:58px;
display:flex;
}
.title
{
height:280px;
width:629px;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
left:136px;
top:236.5px;
position:relative;
}
.welcometoprojectusingwebdevelopmentbasedfilemanageronweb
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:629px;
}
.image
{
width:850px;
height:850px;
left:590px;
top:94px;
position:absolute;
}
.ellipse9
{
background-color:#d9d9d9;
height:650px;
width:650px;
top:194px;
left:690px;
position:absolute;
border-radius:50%;
}
.ellipse11
{
background-color:#d9d9d9;
height:750px;
width:749.9998779296875px;
top:144px;
left:640px;
position:absolute;
border-radius:50%;
}
.ellipse12
{
background-color:;
height:850px;
width:850px;
filter:drop-shadow(0px 0px 20px rgba(0.3921568691730499,0.800000011920929,0.772549033164978,1));
top:94px;
left:590px;
position:absolute;
border-radius:50%;
}
.ellipse10
{
height:550px;
width:550px;
width:550px;
height:550px;
left:739.5px;
top:243.5px;
width:550px;
height:550px;
position:absolute;
border-radius:50%;
}
.introducingourinnovativeweb-basedfilemanagementsolution,revolutionizingaccessibilityandorganizationinwebdevelopmentprojects.
{
color:#fafafa;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:DM Sans;
left:136px;
top:596px;
width:464px;
height:155px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.starttrial
{
background-color:#ffffff;
height:48px;
width:257px;
border-radius:23px;
padding-left:10px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
border-style:hidden;
outline:none;
top:851px;
left:142px;
}
.frame352
{
height:28px;
width:28px;
align-self:flex-start;
left:14.5px;
top:10px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:9.333332061767578px;
}
.ellipse8
{
background-color:#0c0c0c;
height:28px;
width:28px;
border-radius:50%;
}
.chevron-right
{
height:27.999996185302734px;
width:27.999996185302734px;
padding:0px;
border-style:hidden;
outline:none;
}
.vector
{
height:9.333333969116211px;
width:4.6666669845581055px;
left:11.99px;
top:8.99px;
position:absolute;
}
.startyourfreetrial
{
color:rgba(12, 12, 12, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
align-self:flex-start;
left:52.5px;
top:11px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:180px;
display:flex;
}
.ornament261
{
height:111.8155517578125px;
width:182.99964904785156px;
transform:rotate(-91deg);
left:109.82px;
top:104.56px;
position:absolute;
}
.ourservices
{
color:#64ccc5;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family:Roboto Serif;
left:614.5px;
top:1145px;
width:192px;
height:35px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.comprehensiveservicesofferedbyourwebdevelopment-basedfilemanager
{
color:#0c0c0c;
text-align:center;
vertical-align:text-top;
font-size:64px;
font-family:Roboto Serif;
left:27px;
top:1204px;
width:1366px;
height:150px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.content-writing
{
background-color:#ffffff;
height:80.02824401855469px;
width:80.02824401855469px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:1479px;
left:85px;
}
.frame752
{
height:80.02824401855469px;
width:80.02824401855469px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
}
.vector2
{
background-color:#fafafa;
height:80.02824401855469px;
width:80.02824401855469px;
width:80.02824401855469px;
height:80.02824401855469px;
}
.vector3
{
height:30px;
width:30px;
width:30px;
height:30px;
left:25px;
top:25px;
position:absolute;
}
.fileuploadandstorage
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:Roboto Serif;
left:85px;
top:1621.02px;
width:293px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.seamlesslyuploadandstorefilesofvariousformats,ensuringsecureandefficientdatamanagement.
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:85px;
top:1712.02px;
width:332px;
height:69px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame56
{
background-color:#f4f4f4;
height:368px;
width:422px;
border-radius:20px;
padding:45px;
display:flex;
flex-direction:column;
gap:62px;
left:509px;
top:1434px;
position:relative;
}
.vector4
{
background-color:#ffffff;
height:80px;
width:80px;
padding:0px;
left:45px;
top:45px;
position:relative;
}
.vector5
{
background-color:#0c0c0c;
height:79.99986267089844px;
width:79.99979400634766px;
}
.group1000003540
{
width:33.5px;
height:33.5px;
left:0px;
top:0px;
position:absolute;
}
.vector6
{
height:33.5px;
width:33.5px;
width:33.5px;
height:33.5px;
left:23.51px;
top:23px;
width:33.5px;
height:33.5px;
position:absolute;
}
.vector7
{
height:10.491212844848633px;
width:10.491212844848633px;
width:10.491212844848633px;
height:10.491212844848633px;
left:31.66px;
top:37.86px;
width:10.491212844848633px;
height:10.491212844848633px;
position:absolute;
}
.frame384
{
height:165px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:17px;
left:45px;
top:187px;
position:relative;
}
.frame36
{
height:165px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:15px;
}
.fileorganizationandcategorization
{
color:#0c0c0c;
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:232px;
}
.implementintuitivefeaturesfororganizingandcategorizingfiles,facilitatingeasyretrievalandmanagement.
{
color:rgba(12, 12, 12, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:332px;
}
.frame57
{
background-color:#000000;
height:368px;
width:422.4804382324219px;
border-radius:20px;
padding:45px;
display:flex;
flex-direction:column;
gap:62px;
left:987.46px;
top:1434px;
position:relative;
}
.frame70
{
height:80px;
width:80px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
left:0px;
top:0px;
}
.vector8
{
background-color:#ffffff;
height:80px;
width:80px;
width:80px;
height:80px;
}
.vector9
{
height:37.582611083984375px;
width:33px;
width:33px;
height:37.582611083984375px;
left:0px;
top:0px;
position:absolute;
}
.frame385
{
height:136px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:17px;
left:45px;
top:187px;
position:relative;
}
.frame362
{
height:136px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:15px;
}
.versioncontrol
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:193px;
}
.providerobustversioncontrolfunctionalitiestotrackchanges,comparerevisions,andmaintainaclearhistoryoffilemodifications.
{
color:rgba(255, 255, 255, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:332px;
}
.frame71
{
height:80.02824401855469px;
width:80.02824401855469px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:1954.02px;
left:72.5px;
}
.vector10
{
background-color:#0c0c0c;
height:80.02824401855469px;
width:80.02824401855469px;
}
.group2
{
align-self:flex-start;
left:24px;
top:23.97px;
position:absolute;
width:33px;
height:33px;
}
.vector11
{
height:33px;
width:33px;
width:33px;
height:33px;
left:24px;
top:23.97px;
width:33px;
height:33px;
position:absolute;
}
.frame363
{
height:136px;
width:332px;
padding:0px;
display:flex;
flex-direction:column;
gap:15px;
left:65px;
top:2133px;
position:relative;
}
.useraccessmanagement
{
color:#0c0c0c;
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:313px;
}
.implementuserauthenticationandaccesscontrolmechanismstoregulatepermissionsandensuredatasecurity.
{
color:rgba(12, 12, 12, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:44px;
left:0px;
position:absolute;
width:332px;
}
.vector12
{
background-color:#ffffff;
height:80px;
width:80px;
padding:0px;
left:554.98px;
top:1956.02px;
position:relative;
}
.frame72
{
height:79.99986267089844px;
width:79.99979400634766px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
}
.vector13
{
background-color:#ffffff;
height:79.99986267089844px;
width:79.99979400634766px;
width:79.99979400634766px;
height:79.99986267089844px;
}
.vector14
{
height:30.600000381469727px;
width:34px;
width:34px;
height:30.600000381469727px;
left:23.48046875px;
top:24.97174072265625px;
position:absolute;
}
.frame386
{
height:148px;
width:344px;
padding:0px;
display:flex;
flex-direction:column;
gap:17px;
left:543px;
top:2133px;
position:relative;
}
.frame364
{
height:148px;
width:344px;
padding:0px;
display:flex;
flex-direction:column;
gap:15px;
}
.collaborationtools
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:242px;
}
.integratecollaborativefeaturessuchasreal-timeediting,commenting,andtaskassignmenttoenhanceteamproductivityandcommunication.
{
color:rgba(255, 255, 255, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:344px;
}
.frame73
{
height:80px;
width:80px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
left:1034.46px;
top:1955.02px;
}
.vector15
{
background-color:#0c0c0c;
height:80px;
width:80px;
width:80px;
height:80px;
}
.vector16
{
height:32.11111068725586px;
width:34px;
width:34px;
height:32.11111068725586px;
left:0px;
top:0px;
position:absolute;
}
.frame365
{
height:165px;
width:406px;
padding:0px;
display:flex;
flex-direction:column;
gap:15px;
left:995px;
top:2104px;
position:relative;
}
.customizationandintegration
{
color:#0c0c0c;
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:237px;
}
.offerflexibilitythroughcustomizationoptionsandseamlessintegrationwithexistingwebdevelopmenttoolsandplatforms,cateringtodiverseprojectrequirements.
{
color:rgba(12, 12, 12, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:73px;
left:0px;
position:absolute;
width:406px;
}
.aboutus
{
width:1440.000244140625px;
height:903px;
top:2372px;
left:0px;
position:absolute;
}
.group47
{
width:1440.000244140625px;
height:903px;
top:2372px;
left:0px;
position:absolute;
}
.rectangle19
{
background-color:#0c0c0c;
height:903px;
width:1439.744873046875px;
top:2372px;
position:absolute;
}
.frame182
{
height:703px;
width:1402.6741943359375px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:70px;
position:absolute;
top:2472px;
left:37.32px;
}
.frame146
{
height:703px;
width:744px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:70px;
position:relative;
}
.group62
{
width:744px;
height:703px;
}
.rectangle24
{
height:640px;
width:640px;
border-radius:20px;
}
.rectangle25
{
height:640px;
width:640px;
border-radius:20px;
left:52px;
top:32px;
position:absolute;
}
.rectangle26
{
height:640px;
width:640px;
border-radius:20px;
left:104px;
top:63px;
position:absolute;
}
.frame181
{
height:624px;
width:586px;
align-self:flex-start;
left:814px;
top:39.5px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
}
.frame144
{
height:544px;
width:586px;
padding:0px;
display:flex;
flex-direction:column;
gap:25px;
}
.dedicatedtostreamliningwebdevelopmentwithsecure,user-friendlyfilemanagement
{
color:#fafafa;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:586px;
}
.we'rededicatedtorevolutionizingwebdevelopmentbyprovidingauser-friendlyfilemanagementsolutionthatstreamlinesworkflowsandensuresdatasecurity
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:568px;
}
.starttrial2
{
background-color:#fafafa;
height:48px;
width:248px;
border-radius:23px;
padding-left:10px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
border-style:hidden;
outline:none;
top:576px;
left:0px;
}
.frame353
{
height:28px;
width:28px;
align-self:flex-start;
left:10px;
top:10px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:9.333332061767578px;
}
.ellipse82
{
background-color:#0c0c0c;
height:28px;
width:28px;
border-radius:50%;
}
.chevron-right2
{
height:27.999996185302734px;
width:27.999996185302734px;
padding:0px;
border-style:hidden;
outline:none;
}
.vector17
{
height:9.333333969116211px;
width:4.6666669845581055px;
left:11.99px;
top:8.99px;
position:absolute;
}
.startyourfreetrial2
{
color:rgba(12, 12, 12, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
align-self:flex-start;
left:48px;
top:11px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:180px;
display:flex;
}
.aboutus2
{
color:#64ccc5;
text-align:center;
vertical-align:text-top;
font-size:30px;
font-family:Roboto Serif;
left:662px;
top:2394px;
width:134px;
height:35px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle11
{
background-color:#0c0c0c;
height:433px;
width:1443px;
transform:rotate(-180deg);
top:4456px;
left:1440px;
position:absolute;
}
.pages
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto Serif;
left:96px;
top:4063px;
width:63px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.utilitypages
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto Serif;
left:281px;
top:4063px;
width:154px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.styleguide
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4110px;
width:103px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.instruction
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4147px;
width:96px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.license
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4184px;
width:69px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.changelog
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4221px;
width:94px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.error404
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4258px;
width:91px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.passwordprotected
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4295px;
width:179px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.subscribe
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto Serif;
left:840px;
top:4063px;
width:114px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame160
{
background-color:#ffffff;
height:67px;
width:432px;
border-radius:40px;
padding:10px;
left:840px;
top:4105px;
position:relative;
}
.enteryouremailhere
{
color:rgba(12, 12, 12, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:22px;
left:23px;
position:absolute;
width:188px;
}
.button2
{
background-color:rgba(12, 12, 12, 0.8999999761581421);
height:47px;
width:118px;
border-radius:20px;
padding-left:15px;
padding-right:15px;
padding-top:8px;
padding-bottom:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
border-style:hidden;
outline:none;
top:10px;
left:305px;
}
.getintouch2
{
color:#fafafa;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
align-self:flex-start;
left:15px;
top:12px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:88px;
display:flex;
}
.line5
{
width:1052.18798828125px;
transform:rotate(0deg);
border:1px solid #f4f4f4;
top:4355px;
left:195.41px;
position:absolute;
}
.frame572
{
height:60px;
width:130px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
left:192px;
top:4384px;
position:relative;
}
.contactus2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:110px;
}
.-9182888-51361
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:39px;
left:0px;
position:absolute;
width:130px;
}
.frame140
{
height:60px;
width:119px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
left:584px;
top:4384px;
position:relative;
}
.frame139
{
height:60px;
width:319px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
left:884px;
top:4384px;
position:relative;
}
.pages3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto Serif;
left:96px;
top:4063px;
width:88px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.styleguide2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4110px;
width:103px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.instruction2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4147px;
width:96px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.license2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4184px;
width:69px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.changelog2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4221px;
width:94px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.error4042
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4258px;
width:91px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.passwordprotected2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:281px;
top:4295px;
width:179px;
height:21px;
position:absolute;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
}
.subscribe2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto Serif;
left:840px;
top:4063px;
width:114px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line4
{
width:1052.18798828125px;
transform:rotate(0deg);
border:1px solid #f4f4f4;
top:4355px;
left:195.41px;
position:absolute;
}
.frame573
{
height:60px;
width:197px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
left:345px;
top:4384px;
position:relative;
}
.frame161
{
height:60px;
width:197px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.email2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto Serif;
line-height:auto;
border-style:hidden;
outline:none;
width:57px;
}
.shail020604@gmail.com
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:197px;
}
.frame1402
{
height:60px;
width:119px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
left:737px;
top:4384px;
position:relative;
}
.frame149
{
height:50px;
width:208px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:29px;
position:absolute;
top:4389px;
left:1037px;
}
.frame141
{
height:50px;
width:50px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
}
.ellipse17
{
background-color:#fafafa;
height:50px;
width:50px;
border-radius:50%;
}
.vector18
{
height:21.600000381469727px;
width:12px;
width:12px;
height:21.600000381469727px;
left:19px;
top:14px;
position:absolute;
}
.frame142
{
height:50px;
width:50px;
align-self:flex-start;
left:79px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
}
.ellipse172
{
background-color:#fafafa;
height:50px;
width:50px;
border-radius:50%;
}
.group1000003538
{
align-self:flex-start;
left:14px;
top:14px;
position:absolute;
width:22.850000381469727px;
height:22.850000381469727px;
}
.vector19
{
background-color:#282456;
height:2.538888931274414px;
width:2.538888931274414px;
width:2.538888931274414px;
height:2.538888931274414px;
left:31.13px;
top:17.17px;
width:2.538888931274414px;
height:2.538888931274414px;
position:absolute;
}
.vector20
{
height:22.850000381469727px;
width:22.850000381469727px;
width:22.850000381469727px;
height:22.850000381469727px;
left:14px;
top:14px;
width:22.850000381469727px;
height:22.850000381469727px;
position:absolute;
}
.frame143
{
height:50px;
width:50px;
align-self:flex-start;
left:158px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
}
.ellipse173
{
background-color:#fafafa;
height:50px;
width:50px;
border-radius:50%;
}
.group1000003541
{
align-self:flex-start;
left:14px;
top:14px;
position:absolute;
width:22.850000381469727px;
height:22.850000381469727px;
}
.vector21
{
height:7.616666793823242px;
width:11.425000190734863px;
width:11.425000190734863px;
height:7.616666793823242px;
left:19.71px;
top:23.52px;
width:11.425000190734863px;
height:7.616666793823242px;
position:absolute;
}
.vector22
{
background-color:#0c0c0c;
height:2.538888931274414px;
width:2.538888931274414px;
width:2.538888931274414px;
height:2.538888931274414px;
left:18.44px;
top:18.44px;
width:2.538888931274414px;
height:2.538888931274414px;
position:absolute;
}
.vector23
{
height:22.850000381469727px;
width:22.850000381469727px;
width:22.850000381469727px;
height:22.850000381469727px;
left:14px;
top:14px;
width:22.850000381469727px;
height:22.850000381469727px;
position:absolute;
}
.frame118
{
height:206px;
width:97px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
left:96px;
top:4110px;
position:relative;
}
.home2
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
width:46px;
}
.home22
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:37px;
left:0px;
position:absolute;
width:60px;
}
.about4
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:74px;
left:0px;
position:absolute;
width:48px;
}
.conatctus
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:111px;
left:0px;
position:absolute;
width:88px;
}
.portfolio
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:148px;
left:0px;
position:absolute;
width:66px;
}
.portfoliosingle
{
color:#f4f4f4;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
letter-spacing:3px;
line-height:auto;
border-style:hidden;
outline:none;
top:185px;
left:0px;
position:absolute;
width:117px;
}
.process
{
color:#64ccc5;
text-align:center;
vertical-align:text-top;
font-size:30px;
font-family:Roboto Serif;
left:661px;
top:3298px;
width:117px;
height:35px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
